<!DOCTYPE HTML>
  <!--
  	Spatial by TEMPLATED
  	templated.co @templatedco
  	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
  -->
  <html>
  	<head>
  		<title>Spotyfi</title>
  		<meta charset="utf-8" />
  		<meta name="viewport" content="width=device-width, initial-scale=1" />
  		<link rel="stylesheet" href="css/main.css" />
  	</head>
  	<body class="landing">

  		<!-- Header -->
  			<header id="header" class="alt">
  				<h1><strong><a href="/">Spotyfi</a></strong></h1>
  				<nav id="nav">
  					<ul>
  						<li><a href="/">Home</a></li>
              <!-- Login Form -->
  						<li><a href="/login">Log in</a></li>
              <!-- Register Form -->
  						<li><a href="/signup">Sign up</a></li>
  					</ul>
  				</nav>
  			</header>

  			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

  		<!-- Banner -->
  			<section id="banner">
  				<h2>Spotyfi</h2>
  				<p>Your favorite music tambayan</p>
  				<ul class="actions">
  					<li><a href="#" class="button special big">Play Music</a></li>
  				</ul>
  			</section>

  			<!-- One -->
  				<section id="one" class="wrapper style1">
  					<div class="container 75%">
  						<div class="row 200%">
  							<div class="6u 12u$(medium)">
  								<header class="major">
  									<h2>Spotyfi</h2>
  									<p>Listen to your soul</p>
  								</header>
  							</div>
  							<div class="6u$ 12u$(medium)">
  								<p>A music library that lets you add your favorite artist, their album and music. Create your own world of music and share it with others. Listen everywhere and anytime.</p>
  								<p>The experience of listening music is never the same with Spotyfi. Have fun with your friends listening together or you can be alone and feel the music within.</p>
  							</div>
  						</div>
  					</div>
  				</section>

  			<!-- Two -->
  				<section id="two" class="wrapper style2 special">

  					<div class="container">
  						<header class="major">
  							<h2>Features</h2>
  						</header>

  						<div class="row 150%">

  							<div class="6u 12u$(xsmall)">
  								<div class="image fit captioned">
  									<img src="musicman.jpg" alt="" />
  									<h3>Add your favorite artist</h3>
  								</div>
  							</div>

  							<div class="6u$ 12u$(xsmall)">
  								<div class="image fit captioned">
  									<img src="album.jpeg" alt="" />
  									<h3>Add your favorite album</h3>
  								</div>
  							</div>

                <div class="6u 12u$(xsmall)">
  								<div class="image fit captioned">
  									<img src="note.jpg" alt="" />
  									<h3>Add your favorite music</h3>
  								</div>
  							</div>

                <div class="6u$ 12u$(xsmall)">
                  <div class="image fit captioned">
                    <img src="share.jpg" alt="" />
                    <h3>Share your music</h3>
                  </div>
                </div>

  						</div>

  						<ul class="actions">
  							<li><a href="#" class="button special big">Instructions</a></li>
  						</ul>

  					</div>

  				</section>

  			<!-- Three -->
  				<section id="three" class="wrapper style1">
  					<div class="container">
  						<header class="major special">
  							<h2>Made by</h2>
  							<p>Project in CMSC 166</p>
  						</header>
  						<div class="feature-grid">
  							<div class="feature">
  								<div class="image rounded"><img src="ako2.png" alt="" /></div>
  								<div class="content">
  									<header>
  										<h4>Charlito G. Piao Jr.</h4>
  										<p>BSCS 4</p>
  									</header>
  									<p>Mod this</p>
  								</div>
  							</div>
  							<div class="feature">
  								<div class="image rounded"><img src="cedez.jpg" alt="" /></div>
  								<div class="content">
  									<header>
  										<h4>Cedez Gulane</h4>
  										<p>BSCS 4</p>
  									</header>
  									<p>I love dogs.</p>
  								</div>
  							</div>
                <div class="feature">
  								<div class="image rounded"><img src="cedez.jpg" alt="" /></div>
  								<div class="content">
  									<header>
  										<h4>Mary Rose Ampoon</h4>
  										<p>BSCS 4</p>
  									</header>
  									<p>I love cats.</p>
  								</div>
  							</div>
                <div class="feature">
  								<div class="image rounded"><img src="cedez.jpg" alt="" /></div>
  								<div class="content">
  									<header>
  										<h4>Alvin Uy</h4>
  										<p>Instructor</p>
  									</header>
  									<p>Adviser in CMSC 166</p>
  								</div>
  							</div>
  						</div>
  					</div>
  				</section>

  			<!-- Four -->
  				<section id="four" class="wrapper style3 special">
  					<div class="container">
  						<header class="major">
  							<h2>Contact us</h2>
  							<p>Send your email</p>
  						</header>
  						<ul class="actions">
  							<li><a href="#" class="button special big">Get in touch</a></li>
  						</ul>
  					</div>
  				</section>

  		<!-- Footer -->
  			<footer id="footer">
  				<div class="container">
  					<ul class="icons">
  						<li><a href="#" class="icon fa-facebook"></a></li>
  						<li><a href="#" class="icon fa-twitter"></a></li>
  						<li><a href="#" class="icon fa-instagram"></a></li>
  					</ul>
  					<ul class="copyright">
  						<li>&copy; Carl-June Piao Inc.</li>
  						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
  						<li>Images: <a href="http://pexels.com">Pexels</a></li>
  					</ul>
  				</div>
  			</footer>

  		<!-- Scripts -->
  			<script src="js/jquery.min.js"></script>
  			<script src="js/skel.min.js"></script>
  			<script src="js/util.js"></script>
  			<script src="js/main.js"></script>

  	</body>
  </html>
